# PostgreSQL
*.pgsql
*.sql
*.dump
*.log
*.bak
*.pg_data
*.pgbackups
*.pgpass
*.pg_tblspc
*.pg_clog
*.pg_ident.conf
*.pg_notify
.pg_hba.conf
pg_clog/
pg_dynshmem/
pg_ident.conf
pg_notify/
pg_replslot/
pg_serial/
pg_snapshots/
pg_stat/
pg_stat_tmp/
pg_subtrans/
pg_tblspc/
pg_twophase/
pg_xact/
PG_VERSION

# Otros archivos de PostgreSQL
/postmaster.pid
/pgsql_tmp/
/pg_xlog/
data/postgres/
./data/postgres:/var/lib/postgresql/data/pgdata

# Almacenamiento en archivos
data/files


# Archivos de migraciones de Django

**/migrations/*.pyc

# Archivos de caché de Django
*.pyc
__pycache__/

# Archivos de logs de Django
*.log